---
layout: default
---

[![bookimage](images/eipopl.jpeg){: style="float: right" width="250"}](https://mitpress.mit.edu/9780262045452/an-experiential-introduction-to-principles-of-programming-languages/)

Hridesh Rajan holds a Ph.D. and an MS in Computer Science from the [University of Virginia](https://virginia.edu).
He earned his B.Tech. in Computer Science and Engineering from 
the [Indian Institute of Technology, Varanasi](https://iitbhu.ac.in) (formerly IT-BHU).
Dr. Rajan currently serves as the Dean of the [School of Science and Engineering](https://sse.tulane.edu)
at [Tulane University](https://tulane.edu).
He is also a Professor in the [Tulane University Department of Computer Science](https://sse.tulane.edu/cs).
Prior to this role, he was the Kingland Professor and Chair
of [Computer Science](https://www.cs.iastate.edu)
at [Iowa State University](https://www.iastate.edu) from 2019 to 2024.
He also served as the founding Professor-in-charge of 
[Data Science Programs](https://datascience.iastate.edu) from 2017 to 2019.
During this period, he established the [annual Midwest Big Data Summer School](https://mbds.cs.iastate.edu) 
to deliver broadly accessible data science training,
served on the steering committee of the [Midwest Big Data Hub](https://midwestbigdatahub.org),
and led TADS ([Theoretical and Applied Data Science](https://tads.research.iastate.edu)), 
a cross-campus transdisciplinary research initiative of faculty and students interested 
in foundations and applications of Data Science.
From 2019 to 2024, Dr. Rajan was the Department Chair of Computer Science from 2019-2024, 
during which he oversaw significant growth in students, faculty, staff, and research funding.
His leadership in equity, diversity and inclusion led to the creation of a 
departmental broadening participation in computing plan and resulted
in a 45% increase in female enrollment.
Dr. Rajan also spearheaded the development of new academic programs including 
the [M.S. degree in Artificial Intelligence](https://www.cs.iastate.edu/ai), 
the [Data Science Minor, Certificate, and B.S. degree programs](https://datascience.iastate.edu),
the [B.A. degree in Computer Science](https://www.cs.iastate.edu/bachelor-arts-computer-science-approved-iowa-board-regents).
Rajan is a Fellow of the American Association for the Advancement of Science (AAAS)
and a Fulbright Scholar.
His research interests are in
Data Science, Software Engineering and Programming Languages 
where he is most known for his design of the 
[Ptolemy programming language](https://ptolemy.cs.iastate.edu) that 
showed how to modularly reason about crosscutting concerns and the 
[Boa programming language](https://boa.cs.iastate.edu) 
and its infrastructure that decreases the barriers to data-driven software engineering. 
He has been recognized by an NSF CAREER award (2009), 
by the LAS Early Achievement in Research Award (2010), 
a Big-12 Fellowship (2012), 
an ACM Senior Membership (2014), 
an exemplary mentor for Junior Faculty award (2017), 
a Kingland Endowed Professorship (2017), 
an ACM Distinguished Membership (2017), 
a US-UK Fulbright Scholarship (2018),
a Facebook Probability and Programming Award (2020), and 
an Early Achievement in Departmental Leadership Award (2022). 
He has served on the editorial boards of IEEE Transactions on Software Engineering and 
ACM SIGSOFT Software Engineering Notes, and currently serves on the advisory 
board of Proceedings of the ACM on Programming Languages and the steering committee of 
the [ACM SIGPLAN International Conference on Systems, Programming, Languages and Applications: Software for Humanity (SPLASH)](https://2024.splashcon.org). 
Earlier in his career, he worked as a Member of Technical Staff at Bell Labs,
Lucent Technologies in Bangalore, India, from 2000 to 2001.
Prof. Rajan was an [ABET](https://ABET.org/) program evaluator from 2018 to 2024 
and now serves as a commissioner for the [ABET Computing Accreditation Commission](https://www.abet.org/about-abet/governance/accreditation-commissions-2/).


### Major Awards and Honors

- 2009 Early CAREER Award, US National Science Foundation
- 2010 Early Achievement in Research Award, College of Liberal Arts & Science, Iowa State University
- 2012 Big-12 Fellowship
- 2014 ACM Senior Member
- 2016-17 Emerging Leaders Academy. 
- 2016 Kingland Professorship. 
- 2016-17 Exemplary Mentor of Junior Faculty, Iowa State University. 
- 2017 ACM Distinguished Member.
- 2018 Fulbright US-UK Scholar.
- 2020 Facebook Probability and Programming Award
- 2020 ACM SIGSOFT Distinguished Paper Award at ESEC/FSE 2020
- 2021 AAAS Fellow 
- 2022 Early Achievement in Departmental Leadership Award
- 2023 ACM SIGSOFT Distinguished Paper Award at ASE 2023

### Contact me

You can contact me using either of the e-mail addresses below. 
When writing, please substitute firstname with hridesh.

* Work: [h followed by lastname@tulane.edu](mailto:h followed by lastname@tulane.edu)
* Personal: [firstname@gmail.com](mailto:firstname@gmail.com)


<!---
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div> -->

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
{% endfor %}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>

