    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#1F2733">

    <link rel="icon" href="{{ site.baseurl }}/images/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/images/hr.jpg">

    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "Hridesh Rajan",
      "url": "https://hridesh.github.io/",
      "image": "https://hridesh.github.io/images/hr.jpg",
      "jobTitle": "Dean, School of Science and Engineering; Professor of Computer Science",
      "worksFor": { "@type": "CollegeOrUniversity", "name": "Tulane University", "url": "https://tulane.edu" },
      "alumniOf": [
        { "@type": "CollegeOrUniversity", "name": "University of Virginia" },
        { "@type": "CollegeOrUniversity", "name": "Indian Institute of Technology (BHU) Varanasi" }
      ],
      "knowsAbout": ["Programming Languages", "Software Engineering", "Trustworthy AI", "Modular Reasoning", "Software Analysis at Scale"],
      "sameAs": [
        "https://scholar.google.com/citations?user=aiFvpucAAAAJ",
        "https://github.com/hridesh",
        "https://www.linkedin.com/in/hrideshrajan",
        "https://twitter.com/hridesh",
        "https://lab-design.github.io/"
      ]
    }
    </script>
